

#===================================================
# Bank VCCIO
#===================================================
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
BANK 3 VCCIO 1.8 V;
IOBUF PORT "your_net_name" IO_TYPE=LVCMOS33 ;

#===================================================
# pin define
#===================================================


